.root {
  padding: 1rem;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style-type: none;
}

.userCard {
  display: flex;
  flex-direction: column;
}

.userAvatar {
  width: 100%;
  max-width: 100%;
}

.loadButton {
  margin-top: 1rem;
}
